In [10]:
import requests
import pandas as pd
import json

In [22]:
import sys

In [23]:
sys.executable

'/usr/local/opt/python3/bin/python3.4'

In [12]:
code2cont = json.load(open("./code2cont.json"))

In [3]:
c_met = pd.read_csv("../HA_data/metadata/crystals_metadata.csv", index_col=0)

In [5]:
c_met.head()

     chain subtype host       location  year
id
1ha0     A    H3N2  NaN          Aichi  1968
4eef     A    H1N1  NaN  BrevigMission  1918
4cqp     A    H5N1  NaN        Vietnam  2004
4cqq     A    H5N1  NaN        Vietnam  2004
4cqr     A    H5N1  NaN        Vietnam  2004

In [6]:
c_met.location.unique()

array(['Aichi', 'BrevigMission', 'Vietnam', 'Turkey', 'Korea', 'Japan',
       'Sweden', 'Indiana', 'HongKong', 'Mexico', 'SolomonIslands', 'JX',
       'California', 'Perth', 'Hangzhou', 'Guangdong', 'VietNam',
       'Singapore', 'Shanghai', 'PuertoRico', 'Massachusetts', 'Astrakhan',
       'Guatemala', 'Ukraine', 'Maryland', 'Thailand', 'St-Hyacinthe',
       'Colorado', 'Newmarket', 'Potsdam', 'Alberta', 'NewJersey', 'Italy',
       'Netherlands', 'Victoria', 'Richmond', 'Indonesia', 'Guiyang',
       'Laos', 'Guangxi', 'Malaysia', 'Nagasaki', 'Tottori', 'Anhui', nan,
       'Hubei', 'Darwin', 'Xinjiang', 'Egypt/Puerto_Rico', 'Finland',
       'Ontario', 'finland', 'Asia'], dtype=object)

In [8]:
def geolocalize(address):
    try:
        r = requests.get("https://maps.googleapis.com/maps/api/geocode/json",
                         params={"address": address})
        return r.json()['results']
    except:
        return {}

In [ ]:
def country_code(google_res):

In [9]:
geolocalize('Aichi')

[{'address_components': [{'long_name': 'Aichi Prefecture',
    'short_name': 'Aichi Prefecture',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Japan',
    'short_name': 'JP',
    'types': ['country', 'political']}],
  'formatted_address': 'Aichi Prefecture, Japan',
  'geometry': {'bounds': {'northeast': {'lat': 35.424822, 'lng': 137.8378675},
    'southwest': {'lat': 34.5780876, 'lng': 136.6710227}},
   'location': {'lat': 35.1801883, 'lng': 136.9065647},
   'location_type': 'APPROXIMATE',
   'viewport': {'northeast': {'lat': 35.424822, 'lng': 137.8378675},
    'southwest': {'lat': 34.5780876, 'lng': 136.6710227}}},
  'place_id': 'ChIJ5zKTSdW6BGARp0EVGF2mX-s',
  'types': ['administrative_area_level_1', 'political']}]

In [18]:
geolocalize('Aichi')[0]['address_components'][-1]['short_name']

'JP'

In [13]:
localized = {}
for location in c_met.location.unique():
    localized[location] = geolocalize(location)

In [20]:
continents = {k: len(v) for k, v in localized.items()}

In [21]:
continents

{'Turkey': 1,
 nan: 1,
 'Maryland': 1,
 'VietNam': 1,
 'Perth': 3,
 'Guatemala': 1,
 'Netherlands': 1,
 'Victoria': 5,
 'PuertoRico': 1,
 'Astrakhan': 1,
 'BrevigMission': 1,
 'Massachusetts': 1,
 'Nagasaki': 0,
 'SolomonIslands': 1,
 'St-Hyacinthe': 1,
 'finland': 1,
 'Vietnam': 1,
 'Potsdam': 2,
 'Ontario': 2,
 'Aichi': 1,
 'Laos': 0,
 'NewJersey': 1,
 'Shanghai': 1,
 'Newmarket': 1,
 'JX': 1,
 'Sweden': 1,
 'Guangdong': 1,
 'Xinjiang': 1,
 'Italy': 1,
 'Guangxi': 0,
 'Hubei': 1,
 'Alberta': 1,
 'Richmond': 6,
 'California': 1,
 'Malaysia': 0,
 'Japan': 1,
 'Asia': 1,
 'Finland': 1,
 'Singapore': 1,
 'Mexico': 2,
 'HongKong': 1,
 'Thailand': 1,
 'Hangzhou': 1,
 'Korea': 1,
 'Darwin': 1,
 'Anhui': 1,
 'Indonesia': 0,
 'Guiyang': 0,
 'Colorado': 1,
 'Tottori': 0,
 'Egypt/Puerto_Rico': 0,
 'Ukraine': 1,
 'Indiana': 2}